
.responsiveImg {
  height: 1500%;
  width: 1500%;
}


@media (min-width: 1400px) {
  .responsiveImg {
    height: 89%;
    width: 89%;
  }
}

@media (min-width: 600px) and (max-width: 1399px) {
  .responsiveImg {
    height: 110%;
    width: 110%;
  }
}
